* {
    -webkit-transition: all 0.218s;
}
html {
    width: 100%;
    height: 100%;
}
body
{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #232323;
}
ul#traffic-lights {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    float: right;
    height: 0px;
}

#traffic-lights li {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin: 3px 3px;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.3s;
    -webkit-app-region: no-drag;
    position: relative;
}
#traffic-lights li:hover, #traffic-lights li:active {
    opacity: 1;
}

#tb-title {
    display: block;
    float: left;
    font-size: 15px;
    font-family: Lato;
    color: #ddd;
    text-transform: uppercase;
    line-height: 24px;
}

div#title-bar {
    padding: 15px 15px 15px 15px;
    background-color: #2f2f2f;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid #1f1f1f;
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #2f2f2f), color-stop(1, #262626));
}

li#min-btn {
    background-color: #2ecc71;
}

li#max-btn {
    background-color: #f1c40f;
}
li#close-btn {
    background-color: #e74c3c;
}
.icon-after:after {
    position: absolute;
    font: 13px FontAwesome;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}
#close-btn.icon-after:after {
    color: #AD3327;
    content: '\f00d';
    height: 15px;
}
#min-btn.icon-after:after {
    color: #1F904F;
    content: '\f068';
    height: 12px;
}
#max-btn.icon-after:after {
    color: #BE7D15;
    content: '\f067';
    height: 13px;
}

/*span#tb-title:before {
    font: 15px FontAwesome;
    content: '\f001';
    margin: 0 10px 0 5px;
}*/

#tb-title:before {
    content: "";
    float: left;
    background: url('../assets/icons/rustle-32x32.png');
    width: 24px;
    height: 24px;
    display: block;
    background-size: 100%;
    margin-right: 5px;
}
div#bottom-player {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #2a2a2a), color-stop(1, #232323));
    border-top: 1px solid #1f1f1f;
}

div#mplayer-b {
    margin: 10px 15px 10px 15px;
}

div#mplayer-controls {
    margin: 0 auto;
    text-align: center;
}

div#mp-track {
    float: left;
    width: 75%;
    background-color: #666;
    border-radius: 10px;
    height: 6px;
    position: relative;
    margin-top: 16px;
    cursor: pointer;
    display: none;
}

div#mp-times {
    position: absolute;
    width: 100%;
    margin-top: 8px;
}

span#mp-time-curr {
    display: block;
    float: left;
    font: 10px Lato;
    color: #bbb;
    margin-left: 2px;
}
span#mp-time-len {
    display: block;
    float: right;
    font: 10px Lato;
    color: #bbb;
    margin-right: 2px;
}

div#mp-track-cached {
    position: absolute;
    width: 10%;
    height: 6px;
    background-color: #95a5a6;
    border-radius: 10px;
}

div#mp-track-played {
    position: absolute;
    width: 4%;
    height: 6px;
    background-color: #0061F7;
    border-radius: 10px;
}

#mplayer-controls button {
    margin: 1px 3px;
    background-color: #222;
    border: 2px solid #1f1f1f;
    border-radius: 40px;
    cursor: pointer;
    color: #eee;
    outline: none;
    text-shadow: 1px 1px 2px #232323;
}
#mplayer-controls button:hover {
    background-color: #ccc;
    color: #111;
    border-color: #ddd;
    text-shadow: 1px 1px 2px #cdcdcd;
}
#mplayer-controls button:active {
    background-color: #eee;
    color: #111;
    box-shadow: inset 0px 1px 3px #999;
    border-color: #eee;
}
#mplayer-controls button:before {
    border-radius: 40px;
    font: 14px FontAwesome;
}
#mp-prev,#mp-next {
    width: 40px;
    height: 40px;
}
button#mp-playpause {
    width: 59px;
    height: 60px;
}
button#mp-prev:before {
    content: '\f048';
    font-size: 16px;
    margin-left: 2px;
}
button#mp-playpause:before {
    font-size: 24px;
    margin-left: 6px;
    content: '\f04b';
}
button#mp-next:before {
    content: '\f051';
    font-size: 16px;
    margin-left: 2px;
}
div#mp-track-2 {
    width: 100%;
    position: absolute;
    height: 2px;
    top: -2px;
    left: 0px;
}

div#mp-track-2-played {
    width: 40%;
    height: 100%;
    background-color: #2D6A93;
    box-shadow: 1px 2px 3px #282828;
}

#shuffle-toggle, #repeat {
    width: 16px;
    height: 16px;
    margin: 10px 10px;
    color: #666;
    cursor: pointer;
    text-shadow: 1px 1px 2px #232323;
}
#shuffle-toggle:before {
    content: '\f074';
    font: 16px FontAwesome;
}
#repeat:before {
    content: '\f01e';
    font: 16px FontAwesome;
}