/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url("../assets/fonts/montserrat1.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url("../assets/fonts/montserrat2.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    -webkit-transition: all 0.218s;
}
html {
    width: 100%;
    height: 100%;
    background: #444;
    border-radius: 4px;
}
body
{
    margin: 6px 0px;
    width: 99.8%;
    height: 98%;
    background-color: #f2f2f0;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
}
ul#traffic-lights {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    float: right;
    height: 0px;
}

#traffic-lights li {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin: 3px 3px;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.3s;
    -webkit-app-region: no-drag;
    position: relative;
}
#traffic-lights li:hover, #traffic-lights li:active {
    opacity: 1;
}

#tb-title {
    display: block;
    float: left;
    font-size: 17px;
    font-family: Montserrat;
    color: #ddd;
    text-transform: uppercase;
    line-height: 22px;
}

div#title-bar {
    padding: 15px 15px 15px 15px;
    background-color: #373737;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

li#min-btn {
    background-color: #2ecc71;
}

li#max-btn {
    background-color: #f1c40f;
}
li#close-btn {
    background-color: #e74c3c;
}
.icon-after:after {
    position: absolute;
    font: 13px FontAwesome;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}
#close-btn.icon-after:after {
    color: #AD3327;
    content: '\f00d';
    height: 15px;
}
#min-btn.icon-after:after {
    color: #1F904F;
    content: '\f068';
    height: 12px;
}
#max-btn.icon-after:after {
    color: #BE7D15;
    content: '\f067';
    height: 13px;
}

/*span#tb-title:before {
    font: 15px FontAwesome;
    content: '\f001';
    margin: 0 10px 0 5px;
}*/

#tb-title:before {
    content: "";
    float: left;
    background: url('../assets/icons/rustle-32x32.png');
    width: 24px;
    height: 24px;
    display: block;
    background-size: 100%;
    margin-right: 5px;
}
div#bottom-player {
    position: fixed;
    bottom: 6px;
    display: block;
    width: 99.8%;
    border-top: 1px solid #cecdcb;
    background-color: #eaeae2;
}

div#mplayer-b {
    margin: 10px 15px 10px 15px;
}

div#mplayer-controls {
    margin: 0 auto;
    text-align: center;
}

div#mp-track {
    float: left;
    width: 75%;
    background-color: #666;
    border-radius: 10px;
    height: 6px;
    position: relative;
    margin-top: 16px;
    cursor: pointer;
    display: none;
}

div#mp-times {
    position: absolute;
    width: 100%;
    margin-top: 8px;
}

span#mp-time-curr {
    display: block;
    float: left;
    font: 10px Lato;
    color: #bbb;
    margin-left: 2px;
}
span#mp-time-len {
    display: block;
    float: right;
    font: 10px Lato;
    color: #bbb;
    margin-right: 2px;
}

div#mp-track-cached {
    position: absolute;
    width: 10%;
    height: 6px;
    background-color: #95a5a6;
    border-radius: 10px;
}

div#mp-track-played {
    position: absolute;
    width: 4%;
    height: 6px;
    background-color: #0061F7;
    border-radius: 10px;
}

#mplayer-controls button {
    margin: 1px 3px;
    background-color: transparent;
    border: 2px solid #cecdcb;
    border-radius: 40px;
    cursor: pointer;
    color: #777;
    outline: none;
    text-shadow: 1px 1px 2px #ccc;
}
#mplayer-controls button:hover {
    background-color: #eee;
    color: #555;
    border-color: #888;
    text-shadow: 1px 1px 2px #ccc;
}
#mplayer-controls button:active {
    background-color: #d7d8c8;
    color: #da5c5d;
    border-color: #da5c5d;
    box-shadow: inset 0px 1px 3px #999;
}
#mplayer-controls button:before {
    border-radius: 40px;
    font: 14px FontAwesome;
}
#mp-prev,#mp-next {
    width: 40px;
    height: 40px;
}
button#mp-playpause {
    width: 59px;
    height: 60px;
}
button#mp-prev:before {
    content: '\f048';
    font-size: 16px;
    margin-left: 2px;
}
button#mp-playpause:before {
    font-size: 24px;
    margin-left: 6px;
    content: '\f04b';
}
button#mp-next:before {
    content: '\f051';
    font-size: 16px;
    margin-left: 2px;
}
div#mp-track-2 {
    width: 100%;
    position: absolute;
    height: 3px;
    top: -2px;
    left: 0px;
}

div#mp-track-2-played {
    width: 7%;
    height: 100%;
    background-color: #2D6A93;
    box-shadow: 1px 2px 10px #aaa;
}

#shuffle-toggle, #repeat {
    width: 16px;
    height: 16px;
    margin: 10px 10px;
    color: #888;
    cursor: pointer;
    text-shadow: 1px 1px 2px #ccc;
}
#shuffle-toggle:hover, #repeat:hover {
  color: #555;
}

#shuffle-toggle:active, #repeat:active,#shuffle-toggle.active, #repeat.active {
  color: #da5c5d;
}
#shuffle-toggle:before {
    content: '\f074';
    font: 16px FontAwesome;
}
#repeat:before {
    content: '\f01e';
    font: 16px FontAwesome;
}
div#main-content {
    position: relative;
    top: 0;
    border-top: 5px solid #da5c5d;
}

div#sidebar {
    width: 25%;
    height: 100%;
    float: left;
}

div#content {
    float: right;
    width: 75%;
    height: 100%;
    border-left: 1px solid #cbcbce;
}