@font-face {
    font-family: 'Cantarell';
    src: url('cantarell-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cantarell';
    src: url('cantarell-oblique-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cantarell';
    src: url('cantarell-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}